#h1image {
    border-radius: 50%;
    height: 150px;
    width: 160px;
}
body {
	margin: 25px;
    -webkit-animation: colorchange 60s infinite; 
    animation: colorchange 60s infinite;
}
@-webkit-keyframes colorchange {
 
     0%  {background: #F0FFFF;}
    25%  {background: #F0F8FF;}
    50%  {background: #6495ED;}
}
 
 
@keyframes colorchange {
     0%  {background: #F0FFFF;}
    25%  {background: #F0F8FF;}
    50%  {background: #6495ED;}
}
#myimage {
    width: 25px;
    height: 25px;
    padding: 4px;
    border-radius: 25px;
}
#myimage:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5); 
}
.image-container {
    display: flex;
    justify-content: center;
}
.me-container {
    display: flex;
    justify-content: center;
    padding: 25px;
    font-family: DejaVu Sans Mono, monospace;
    color: #000;
    color: rgba(0, 0, 0, 0.3);
    font-size: 22px;
}
hr.style { 
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

li {
    padding: 10px;
}
ul {
    list-style-type: none;
}
#logo {
    height: 25px;
    width: 25px;
}
#sticky {
    width: 100%;
    padding: 0px;
    padding-bottom: 0px;
    font-family: arial;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    position: fixed;   
    bottom: 0;          
    left: 0;
}
.flash {
    animation-name: flash;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

@keyframes flash {
    from {color: black;}
    to {color: white;}
}